body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
}

.title {
    text-align: center;
    margin: 20px;
}

.carts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.cardCart {
    border: 1px solid #3498db;
    padding: 1rem;
    text-align: center;
    background-color: #ecf0f1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    margin: 10px;
    border-radius: 8px;
    width: 300px;
}

.cardCart:hover {
    transform: scale(1.05);
}

.imageCart img {
    max-width: 100%;
    height: auto;
    max-height: 150px;
    border-radius: 8px;
}

.infoCart {
    margin-top: 1rem;
}

.infoCart h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: #2c3e50;
}

.infoCart p {
    margin: 0.5rem 0;
    color: #34495e;
}
