/* Formulario de asignación de rol */
#setRoleForm {
    margin-bottom: 20px;
}

#setRoleForm label {
    display: block;
    margin-bottom: 5px;
}

#setRoleForm input[type="text"],
#setRoleForm select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#setRoleForm button {
    background-color: #F4CBE3;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#setRoleForm button:hover {
    background-color: #e6aacc;
}

/* Formulario de eliminación de usuario */
#deleteUserForm {
    margin-bottom: 20px;
}

#deleteUserForm label {
    display: block;
    margin-bottom: 5px;
}

#deleteUserForm input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#deleteUserForm button {
    background-color: #F4CBE3;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#deleteUserForm button:hover {
    background-color: #e6aacc;
}

