<div class="messages">
    {{#each messages}}
    <div class="cardMessage">
        <div class="infoMessage">
            <h3>{{this.name}}</h3>
            <p>{{this.message}}</p>
        </div>
    </div>
    {{/each}}
</div>