 <form id="newPasswordForm" class="newPasswordForm">
    <h2>Recuperar contraseña</h2>
    <div class="form-group">

      <label for="newPassword">Nueva contraseña:</label>
      <input type="password" id="newPassword" name="password" required />
    </div>
    <button id="updatePassword" type="submit">Cambiar contraseña</button>
  </form>
<script src="/js/newPassword.js"></script>