 <form id="newPasswordForm" class="newPasswordForm">
    <h2>Recuperar contraseña</h2>
    <div class="form-group">

      <label for="newPassword">Nueva contraseña:</label>
      <input type="text" id="newPassword" name="email" required />
    </div>
    <button id="updatePassword" type="submit">Recuperar</button>
  </form>
<script src="js/newPassword.js"></script>