 <form id="forgotPasswordForm" class="forgotPasswordForm">
    <h2>Recuperar contraseña</h2>
    <div class="form-group">

      <label for="email">Email:</label>
      <input type="text" id="email" name="email" required />
    </div>
    <button id="recoverPassword" type="submit">Recuperar</button>
  </form>
<script src="/js/forgotPassword.js"></script>