body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
}

.title{
    text-align: center;
    margin: 20px;
}

.messages {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardMessage {
    border: 1px solid #3498db;
    padding: 1rem;
    text-align: center;
    background-color: #ecf0f1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    margin: 10px;
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
}

.cardMessage:hover {
    transform: scale(1.05);
}

.infoMessage {
    margin-top: 1rem;
}

.infoMessage h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: #2c3e50;
}

.infoMessage p {
    margin: 0.5rem 0;
    color: #34495e;
}

form {
    position: sticky;
    bottom: 0;
    left: 0;
    width: 97.8%;
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #ecf0f1;
    border: 1px solid #3498db;
    border-radius: 8px;
}

label {
    display: none;
}

input {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #3498db;
    border-radius: 4px;
    font-size: 14px;
    margin-right: 10px;
}

button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980b9;
}
